@use './variables' as v;
@use './template' as temp;

.sect1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, v.$s1_bg_color1, v.$s1_bg_color0);
    padding-top: 20px;

    &__nav ul {
        @include temp.flex_row_center;
        list-style-type: none;
        gap: 50px;
        text-transform: uppercase;
        color: v.$s1_text_color;
        justify-content: left;
        margin-left: 300px;
        font-weight: v.$weight1;

        a {
            text-decoration: none;

            &:visited {
                color: v.$s1_text_color;
            }

            &:active {
                border: 2px solid v.$s1_hov_color;
            }

            &:hover {
                border: 2px solid v.$s1_hov_color;
            }
        }
    }

    &__content {
        @include temp.flex_row_center;
        justify-content: space-between;
        padding: 50px 50px 0 200px;

        &-description {
            width: 50%;
            height: 500px;
            @include temp.flex_col_center;
            align-items: start;
            padding-left: 200px;
        }

        &-illustration {
            width:35vw;

            &:hover {
                padding-top: 50px;
                transform: scale(v.$s1_scale_fact);
                transition: transform v.$trans_dur;
            }
        }
    }

    &__title {
        color: v.$s1_text_color;
        font-size: v.$s1_title_size;
        font-weight: v.$weight1;
        text-transform: uppercase;
        word-spacing: 5px;
        text-align: start;
    }

    &__action {
        @include temp.flex_row_center;
        gap: 4px;
        padding-top: 40px;

        &-btn {
            width: 150px;
            height: 40px;
            border-radius: 35px;
            background-color: transparent;
            border: solid 2px v.$s1_btn_color;
            font-size: v.$s1_btn_size;
            font-weight: v.$weight1;
            color: v.$s1_btn_color;

            &:hover {
                background-color: v.$s1_btn_color;
                color: v.$s1_text_color;
            }
        }
    }
}

.wapp-icon {
    position: fixed;
    @include temp.flex_col_center;
    left: 100px;
    bottom: 100px;
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 100%;
    background-color: v.$s1_wapp_color;

    &:hover {
        transform: scale(v.$s1_scale_fact);
        transition: transform v.$trans_dur;
    }
}