@use './variables' as v;
@use './template' as temp;

.sect3 {

    @include temp.flex_col_center;
    justify-content: start;
    height: 650px;
    background-image: linear-gradient(to bottom, v.$s3_bg_color0, v.$s3_bg_color1);

    &__title {
        margin: 100px 0 80px 0;
        font-size: v.$s1_title_size;
        color: v.$s2_header_color;
        font-weight: v.$weight1;
        text-transform: uppercase;

        &-divider {
            text-decoration: underline;
            text-decoration-color: v.$s2_divider_color;
            text-underline-offset: 55px;
            text-decoration-thickness: 3px;
        }
    }

    &__cards {
        @include temp.flex_row_center;
        gap: 50px;

        &-img {
            width: 28%;

            &:hover {
                transform: scale(v.$s3_scale_fact);
                transition: transform v.$trans_dur;
            }
        }
    }
}

@media only screen and (max-width:1000px) {
    .sect3 {
        height: 1450px;

        &__title {
            font-size: 35px;
        }

        &__cards {
            @include temp.flex_col_center;

            &-img {
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width:480px){   
    .sect3 {
        height: 1150px;

        &__cards-img {
            width: 80%;
        }
    }
}

