// general variables
$font_family: 'Hebbo', sans-serif;
$general_size: 20px;
$weight1: 300;
$weight2: 700;
$weight3: 800;
$trans_dur: 0.5s;

// Section 1
$s1_bg_color0: #9c0ca1;
$s1_bg_color1: #39065a;
$s1_text_color: #ffffff;
$s1_hov_color: #39065a;
$s1_btn_color: #e858ae;
$s1_wapp_color: #4caf50;
$s1_title_size: 55px;
$s1_btn_size: 15px;
$s1_scale_fact: 1.3;

// Section 2
$s2_header_color: #9a0f98;
$s2_divider_color: #e858ae;
$s2_text_color: black;

// Section 3
$s3_bg_color0: #ffffff;
$s3_bg_color1: #39065a;
$s3_scale_fact: 1.15;

// Section 4
$s4_bg_disc_color0: #9a0f98;
$s4_bg_disc_color1: #ea0599;
$s4_shadow_disc_color: #9a0f98;
$s4_border_color: #ea0599;
$s4_number_color: #acacb3;
$s4_text_color: #797980;
$s4_number_size: 12px;

// Section 5
$s5_bg_color0: #9c0ca1;
$s5_bg_color1: #39065a;
$s5_img_hover_scale: -0.75;
$s5_icon_hover_scale: -0.5;
$s5_dur: 2s;

// Section 6
$s6_bg_color: #f9f7fa;
$s6_subhead_color: #9a0f98;
$s6_shadow_color: #8e8e94;
$s6_border_color: #ffc0cb;
$s6_text_color: #000000;

// Section 7
$s7_bg_color0: #9c0ca1;
$s7_bg_color1: #39065a;
$s7_border_color: #39065a;
$s7_hover_scale: scale 1.1;
$s7_recomend_color: #ea0599;
$s7_recomend_weight: 700;
$s7_price_color: #20e9f8;
$s7_btn_hover_color: #e858ae;

// Section 8
$s8_border_color: #eaeaec;
$s8_btn_bg_color0: #ea0599;
$s8_btn_bg_color1: #9a0f98;

// Section 9
$s9_bg_color:#39065a;
