

$font_family:'Hebbo', sans-serif;
$general_size:20px;
$weight1:300;
$weight2:700;
$weight3:800;
$trans_dur:0.5s;

// Section 1
$s1_bg_color0:#9c0ca1;
$s1_bg_color1:#39065a;
$s1_text_color:#ffffff;
$s1_hov_color:#39065a;
$s1_btn_color:#e858ae;
$s1_wapp_color: #4caf50;
$s1_title_size:55px;
$s1_btn_size:15px;