@use './variables' as v;
@use './section1' as s1;
@use './section2' as s2;
@use './section3' as s3;
@use './section4' as s4;
@use './section5' as s5;
@use './section6' as s6;
@use './section7' as s7;
@use './section8' as s8;
@use './section9' as s9;


@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: v.$font_family;
    font-size: v.$general_size;
}

@media only screen and (max-width:1200px) {
    .sect1 {
        &__nav ul {
            justify-content: center;
            margin-left: 10px;
            gap: 20px;
        }

        &__content {
            padding-left: 100px;

            &-description {
                padding-left: 10px;
            }
        }

        &__title {
            font-size: 35px;
        }

        &__action {
            flex-direction: column;
        }
    }

}

@media only screen and (max-width:480px) {
    .sect1 {

        &__nav {
            margin-top: 50px;
            display: flex;
            justify-content: center;

            ul {
                width: 180px;
                flex-direction: column;
                gap: 5px;
                align-items: start;

                li {
                    width: 100%;
                    border-bottom: solid 2px v.$s2_divider_color;
                    padding-left: 10px;
                }
            }
        }

        &__content {
            &-description {
                width: 65%;
                height: 40%;
                justify-content: space-around;
            }

            &-illustration {
                display: none;
            }
        }

        &__title {
            font-size: 25px;
        }

        &__action {
            width: 100%;
            align-items: end;
        }

        .wapp-icon {
           top: 750px;
           left: 40px;
        }
    }
}