@use './variables' as v;
@use './section1';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: v.$font_family;
    font-size: v.$general_size;    
}