@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;700;800&display=swap");
.sect1 {
  width: 99vw;
  height: 100vh;
  background-image: linear-gradient(to right, #39065a, #9c0ca1);
  padding-top: 20px;
}
.sect1__nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: left;
  margin-left: 300px;
  font-weight: 300;
}
.sect1__nav ul a {
  text-decoration: none;
}
.sect1__nav ul a:visited {
  color: #ffffff;
}
.sect1__nav ul a:active {
  border: 2px solid #39065a;
}
.sect1__nav ul a:hover {
  border: 2px solid #39065a;
}
.sect1__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 50px 50px 0 200px;
}
.sect1__content-description {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  padding-left: 200px;
}
.sect1__content-illustration:hover {
  padding-top: 50px;
  transform: scale(1.3);
  transition: transform 0.5s;
}
.sect1__title {
  color: #ffffff;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 5px;
  text-align: start;
}
.sect1__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding-top: 40px;
}
.sect1__action-btn {
  width: 150px;
  height: 40px;
  border-radius: 35px;
  background-color: transparent;
  border: solid 2px #e858ae;
  font-size: 15px;
  font-weight: 300;
  color: #e858ae;
}
.sect1__action-btn:hover {
  background-color: #e858ae;
  color: #ffffff;
}

.wapp-icon {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 100px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 100%;
  background-color: #4caf50;
}
.wapp-icon:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
}

.sect2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  width: 99vw;
  height: 80vh;
}
.sect2__title {
  margin: 150px 0 70px 0;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  color: #9a0f98;
}
.sect2__title-divider {
  text-decoration: underline;
  text-underline-offset: 60px;
  text-decoration-color: #e858ae;
  text-decoration-thickness: 3px;
}
.sect2__description {
  width: 54%;
  text-align: center;
  margin-bottom: 100px;
}
.sect2__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 100px;
}
.sect2__cards-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sect2__content-logo:hover {
  transform: scaleX(-1);
  transition: transform 0.5s;
}
.sect2__content-title {
  color: #9a0f98;
  font-weight: 300;
  text-transform: uppercase;
  margin: 5px 0 20px 0;
}

.sect3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  width: 99vw;
  height: 60vh;
  background-image: linear-gradient(to bottom, #ffffff, #39065a);
}
.sect3__title {
  margin: 100px 0 80px 0;
  font-size: 55px;
  color: #9a0f98;
  font-weight: 700;
  text-transform: uppercase;
}
.sect3__title-divider {
  text-decoration: underline;
  text-decoration-color: #e858ae;
  text-underline-offset: 55px;
  text-decoration-thickness: 3px;
}
.sect3__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.sect3__cards-img:hover {
  transform: scale(1.15);
  transition: transform 0.5s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hebbo", sans-serif;
  font-size: 20px;
}/*# sourceMappingURL=general.css.map */